<nav class="nav">
  <span class="padding-left title">
    Examen Final
  </span>
  <div class="padding-top">
    <mat-form-field color="warn" appearance="fill">
      <mat-label>Nombre o edición</mat-label>
      <input matInput placeholder="The Lost Race"  [(ngModel)]="searchInput">
    </mat-form-field>
    <mat-icon matSuffix (click)="search()">search</mat-icon>
  </div>

</nav>
<ng-container *ngIf="filteredComics && filteredComics.length > 0 && loaded; else loaded ? empty: loading">
  <mat-grid-list cols="4" rowHeight="2:4">
      <mat-grid-tile *ngFor="let comic of filteredComics" class="p-4">
        <mat-card class="card mat-elevation-z2">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"
                 [ngStyle]="{'background-image': 'url(' + comic.image.icon_url + ')', 'background-size': 'cover'}"></div>
            <mat-card-title>{{comic.issue_number}}: {{comic.name}}</mat-card-title>
            <mat-card-subtitle>{{comic.date_added | date}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="comic.image.original_url" alt="img">
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<ng-template #loading>
  Cargando lista de comics...
</ng-template>

<ng-template #empty>
  <ng-container>
    No hay resultados
  </ng-container>
</ng-template>
